{% extends "layout.html" %}
{% from 'helper.j2' import render_players, render_points, render_rank, render_set %}

{% block title %}{{ club.name }}{% endblock title %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('main.static', filename='css/bootstrap-table.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('main.static', filename='css/fontawesome-5.12.2.all.min.css') }}">
{% endblock head %}
{% block content %}
  <h1 class="text-success"><i>{{ club.name }}</i></h1>
  <div>
    {% if ranking %}
      <h5>Classement des clubs: {{ render_rank(ranking[0]) }} ({{ ranking[1] }} points)</h5>
    {% else %}
      Pas de classement disponible pour ce club
    {% endif %}
  </div>

<ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active text-warning font-weight-bold" id="players-tab" data-toggle="tab" href="#players-content" role="tab" aria-controls="players" aria-selected="true">Joueurs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-info font-weight-bold" id="matches-tab" data-toggle="tab" href="#matches-content" role="tab" aria-controls="matches" aria-selected="false">Matchs</a>
  </li>
</ul>
<div class="tab-content mb-5" id="myTabContent">
  {% set show_ranking = request.args.get('show_ranking', '0') %}
  <div class="tab-pane fade show active" id="players-content" role="tabpanel" aria-labelledby="players-tab">
    <table data-toggle="table"
      data-search="true"
      data-show-columns="true"
      data-pagination="true"
      data-search-accent-neutralise="true"
      class="table-striped">
      <thead>
        <tr class="bg-warning text-dark">
          <th rowspan="2" data-sortable="true" data-field="players" data-valign="middle">Joueur</th>
          <th colspan="2" data-visible="{{ show_ranking }}">Classement</th>
        </tr>
        <tr class="bg-warning text-dark">
          <th data-field="points" data-visible="{{ show_ranking }}">Points</th>
          <th data-sortable="true" data-field="rank" data-visible="{{ show_ranking }}">Rang</th>
        </tr>
      </thead>
      <tbody>
        {% for p_ranking in players_rankings %}
        <tr>
          <td><a class="text-warning" href="{{ url_for('main.player', player_id=p_ranking[2].id, show_ranking=show_ranking) }}">{{ p_ranking[2].fullname }}</a></td>
          <td>{{ p_ranking[1] }}</td>
          <td>{{ p_ranking[0] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="matches-content" role="tabpanel" aria-labelledby="matches-tab">
    {% set matches = club.real_match_ids %}
    <table data-toggle="table"
      data-show-columns="true"
      data-pagination="true"
      data-search="true"
      data-search-accent-neutralise="true"
      class="table-striped">
      <thead>
        <tr class="bg-info text-dark">
          <th rowspan="2" data-field="draw" data-sortable="true" data-valign="middle">Tableau</th>
          <th rowspan="2" data-field="players" data-sortable="true" data-valign="middle">Joueurs</th>
          <th colspan="3" data-field="results">Résultat</th>
          <th rowspan="2" data-field="points" data-sortable="true" data-visible="{{ show_ranking }}" data-valign="middle">Points</th>
        </tr>
        <tr class="bg-info text-dark">
          <th>S1</th>
          <th>S2</th>
          <th>S3</th>
        </tr>
      </thead>
      <tbody>
      {% for match in matches %}
        <tr>
          <td>{{ match.draw_id.fullname }}</td>
          <td>{{ render_players(match, show_ranking != '0', as_club=club) }}</td>
          <td>{{ render_set(match, 1) }}</td>
          <td>{{ render_set(match, 2) }}</td>
          <td>{{ render_set(match, 3) }}</td>
          <td>{{ render_points(match, as_club=club) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>


  </div>
  <!-- TODO Add vote form here -->

{% endblock content %}
{% block scripts %}
  <script src="{{ url_for('main.static', filename='js/popper-1.14.7.min.js') }}"></script>
  {{ super() }}
  <script src="{{ url_for('main.static', filename='js/bootstrap-table.js') }}"></script><!-- TODO use .min again once github PR will be merged -->
  <script src="{{ url_for('main.static', filename='js/bootstrap-table-fr-FR.min.js') }}"></script>
  <script src="{{ url_for('main.static', filename='js/fontawesome-5.12.2.all.min.js') }}"></script>
{% endblock scripts %}
