{% extends "layout.html" %}
{% block title %}Classement{% endblock title %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('main.static', filename='css/bootstrap-table.min.css') }}">
  <!-- TODO Implement this locally (if required) -->
  <link rel="stylesheet" href="{{ url_for('main.static', filename='css/fontawesome-5.12.2.all.min.css') }}">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->
{% endblock head %}
{% block content %}
  <h1>Classement des clubs</h1>
  <table data-toggle="table"
    data-search="true"
    data-show-columns="true"
    data-pagination="true"
    data-search-accent-neutralise="true">
    <!-- data-filter-control="true" -->
    <thead>
      <tr>
        <th data-sortable="true" data-field="rank">Rang</th>
        <th data-sortable="true" data-field="name">Nom</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      {% for ranking in rankings %}
      <tr>
        <td>{{ ranking[0] }}</td>
        <!-- <td>{{ ranking[2].name }}</td> -->
        <td><a class="dropdown-item" href="{{ url_for('main.club', club_id=ranking[2].id) }}">{{ ranking[2].name }}</a></td>
        <td>{{ ranking[1] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
{% block scripts %}
  <script src="{{ url_for('main.static', filename='js/popper-1.14.7.min.js') }}"></script><!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
  {{ super() }}
  <script src="{{ url_for('main.static', filename='js/bootstrap-table.js') }}"></script><!-- TODO use .min again once github PR will be merged --><!-- <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script> -->
  <script src="{{ url_for('main.static', filename='js/bootstrap-table-fr-FR.min.js') }}"></script>
  <script src="{{ url_for('main.static', filename='js/fontawesome-5.12.2.all.min.js') }}"></script>
{% endblock scripts %}
