{% extends "layout.html" %}
{% block title %}{{ club.name }}{% endblock title %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('main.static', filename='css/bootstrap-table.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('main.static', filename='css/fontawesome-5.12.2.all.min.css') }}">
{% endblock head %}
{% block content %}
  <h1><i>{{ club.name }}</i></h1>
  <div>
    {% if ranking %}
      {% if ranking[0] == 1 %}
        {% set nth = 'er' %}
      {% else %}
        {% set nth = 'ème' %}
      {% endif %}
      Classement des clubs: {{ ranking[0] }}{{ nth }} ({{ ranking[1] }} points)
    {% else %}
      Pas de classement disponible pour ce club
    {% endif %}
  </div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="players-tab" data-toggle="tab" href="#players-content" role="tab" aria-controls="players" aria-selected="true">Joueurs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="matches-tab" data-toggle="tab" href="#matches-content" role="tab" aria-controls="matches" aria-selected="false">Matchs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">TODO</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="players-content" role="tabpanel" aria-labelledby="players-tab">
    <table data-toggle="table"
      data-search="true"
      data-show-columns="true"
      data-pagination="true"
      data-search-accent-neutralise="true">
      <thead>
        <tr>
          <th data-sortable="true" data-field="rank">Rang</th>
          <th data-sortable="true" data-field="fullname">Joueur</th>
          <!-- <th data-sortable="true" data-field="firstname">Prénom</th>
          <th data-sortable="true" data-field="name">Nom</th> -->
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        {% for p_ranking in players_rankings %}
        <tr>
          <td>{{ p_ranking[0] }}</td>
          <!-- <td>{{ p_ranking[2].firstname }}</td>
          <td><a href="{{ url_for('main.player', player_id=p_ranking[2].id) }}">{{ p_ranking[2].name }}</a></td> -->
          <td><a href="{{ url_for('main.player', player_id=p_ranking[2].id) }}">{{ p_ranking[2].fullname }}</a></td>
          <td>{{ p_ranking[1] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
  <div class="tab-pane fade" id="matches-content" role="tabpanel" aria-labelledby="matches-tab">

    {% set matches = club.real_match_ids %}
    <table data-toggle="table"
      data-show-columns="true"
      data-pagination="true"
      data-search-accent-neutralise="true" class="borderless">
      <thead>
        <tr>
          <th rowspan="2" data-field="draw" data-valign="middle">Tableau</th>
          <th rowspan="2" data-field="players" data-valign="middle">Joueurs</th>
          <th colspan="3" data-field="results">Résultat</th>
        </tr>
        <tr>
          <th>S1</th>
          <th>S2</th>
          <th>S3</th>
        </tr>
      </thead>
      <tbody>
        {% for match in matches %}
        {% set set3_played = match.team1set3 or match.team2set3 %}
        <tr  style="border-bottom: hidden;">
          <td rowspan="2">{{ match.draw_id.fullname }}</td>
          <td>{{ match.team1_id.entry_id }}</td>
          <td>{{ match.team1set1 }}</td>
          <td>{{ match.team1set2 }}</td>
          <td>{{ match.team1set3 if set3_played }}</td>
        </tr>
        <tr>
          <td>{{ match.team2_id.entry_id }}</td>
          <td>{{ match.team2set1 }}</td>
          <td>{{ match.team2set2 }}</td>
          <td>{{ match.team2set3 if set3_played }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>



  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">3One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought.</div>
</div>


  </div>
  <!-- TODO Add vote form here -->


  <h2>Matches</h2>
  <div>TODO (split sections in tabs)</div>
{% endblock content %}
{% block scripts %}
  <script src="{{ url_for('main.static', filename='js/popper-1.14.7.min.js') }}"></script>
  {{ super() }}
  <script src="{{ url_for('main.static', filename='js/bootstrap-table.js') }}"></script><!-- TODO use .min again once github PR will be merged -->
  <script src="{{ url_for('main.static', filename='js/bootstrap-table-fr-FR.min.js') }}"></script>
  <script src="{{ url_for('main.static', filename='js/fontawesome-5.12.2.all.min.js') }}"></script>
{% endblock scripts %}