{% block navbar_content %}
<!-- TODO Activate current menu item (help: https://tedboy.github.io/jinja2/off_doc.tricks.html#highlighting-active-menu-items) -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="/">Tournoi BC Saint-Léger</a> -->
  <a class="navbar-brand" href="/">
    <img src="{{ url_for('main.static', filename='images/bc_saint_leger_logo_white.png') }}" width="60" height="45" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">TODO<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>

      <li class="btn-group nav-item dropdown"><!-- <li class="nav-item dropdown"> -->
        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clubs</a> -->
        <a role="button" class="btn btn-secondary nav-link" href="{{ url_for('main.clubs') }}">Clubs</a>
        <a role="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" href="{{ url_for('main.clubs') }}">Accueil</a> -->
          <a class="dropdown-item" href="{{ url_for('main.clubs', show_ranking=1) }}">Classement</a>
          <a class="dropdown-item" href="#">Concours</a>
          <a class="dropdown-item" href="{{ url_for('main.club', club_id=3) }}">Club 3</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock navbar_content %}
