{% block navbar_content %}
<!-- TODO Activate current menu item (help: https://tedboy.github.io/jinja2/off_doc.tricks.html#highlighting-active-menu-items) -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="{{ url_for('main.static', filename='images/bc_saint_leger_logo_white.png') }}" width="60" height="45" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-2 my-1">
      <li class="btn-group nav-item dropdown">
        <a role="button" class="btn btn-secondary nav-link" href="{{ url_for('main.clubs') }}">Clubs</a>
        <a role="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split bg-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('main.clubs', show_ranking=1) }}">Classement</a>
          <!-- <a class="dropdown-item" href="#">Concours</a> -->
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mx-2 my-1">
      <li class="btn-group nav-item dropdown">
        <a role="button" class="btn btn-secondary nav-link" href="{{ url_for('main.players') }}">Joueurs</a>
        <a role="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split bg-warning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('main.players', show_ranking=1) }}">Classement</a>
          <!-- <a class="dropdown-item" href="#">Concours</a> -->
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mx-2 my-1">
      <li class="btn-group nav-item dropdown">
        <a role="button" class="btn btn-secondary nav-link" href="{{ url_for('main.matches') }}">Matchs</a>
        <a role="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split bg-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('main.matches', when='done') }}">Joués</a>
          <a class="dropdown-item" href="{{ url_for('main.matches', when='current') }}">En cours</a>
          <a class="dropdown-item" href="{{ url_for('main.matches', when='incoming') }}">À venir</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
{% endblock navbar_content %}
